 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   min-height: 100vh;
   font-family: 'Simonetta', sans-serif;
 }

 #navbar-header {
   font-family: 'Share Tech', sans-serif;
   font-weight: 700;
 }

 section.container-information {
   max-width: 50%;
 }

 #hoursLocal {
   background-color: transparent;
   color: #ff0;
   border: none;
   font-family: "Lora";
 }

 .bg-video {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: -1;
 }

 .container-fluid {
   position: relative;
   z-index: 1;
 }

 footer {
   width: 100vw;
   height: calc(6.2vh + 1em);
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Share Tech', sans-serif;
 }

 /*Grandes telas: > 1000px*/
 @media screen and (min-width: 921px) and (max-width: 1020px) {
   li.list-item {
     font-size: calc(10px + 0.1rem);
   }
 }

 /*Pequenas telas: celular 600px - 768px (>756px).*/
 @media screen and (min-width: 720px) {

   /* Body*/
   section#container-main {
     max-width: 65%;
     min-height: 100%;
     margin-top: 30px;
     display: flex;
     flex-direction: column;
     justify-content: center;
   }

   li.has-text-danger {
     font-size: calc(10px + 0.4rem);
   }

   section.container-information {
     max-width: 80%;
   }
 }

 /*Pequenas telas: minino 600px (=>576px).*/
 @media screen and (min-width: 520px) {
   nav ul div.row {
     display: flex;
     justify-content: flex-end;
   }

   header nav.navbar-content {
     letter-spacing: .1em;
   }

   /* Body*/
   main.container-fluid {
     height: calc(100vh - 20em);
   }

   section.container {
     max-width: 100%;
     height: calc(100% - 2em);
   }

   div.content-boxes {
     max-width: 100%;
     height: calc(100% - 3em);
   }

   main section div ul.container-list {
     width: calc(100% - 2em);
     max-height: calc(100% - 1em);
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
   }

   #boxes-foreach {
     width: 50%;
     display: flex;
     font-size: 1.6em;
   }
 }

 /*Pequenas telas: mximo 600px (=< 575px)*/
 @media screen and (min-width: 320px),
 (orientation: landscape) {

   /* Header */
   header.navbar-light {
     width: 100vw;
     max-height: 100vh;
   }

   #img-alphanet {
     width: max-content;
   }

   header>nav.navbar {
     width: 100%;
   }

   a.nav-link {
     padding-left: .5em;
     font-size: .6rem;
     box-shadow: 1px 2px 5px #031633;
   }

   a.nav-link:hover {
     color: #031633;
     background-color: #f8f9fa;
     text-shadow: 1px 1px 5px #8b7e7b;
   }

   /* Body */
   .container-boxes {
     max-height: 65%;
   }

   main section.secHome {
     min-height: calc(100vh - 300px);
     display: flex;
     flex-direction: column;
     justify-content: center;
   }

   main nav.navHome {
     width: 100%;
     max-height: 50vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
   }

   .liNavUser:hover {
     color: #ff0f4f;
     background-color: transparent;
     filter: drop-shadow(2.5px 1.5px 1px #faf9fa);
   }

   main>.content-boxesall {
     width: 100%;
   }

   .container-list {
     width: calc(100% - .1em);
     display: flex;
     flex-wrap: wrap;
     font-size: .6em;
   }

   .foreach {
     width: 50%;
     min-height: 100%;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     box-shadow: .1px .1px .7px #8b7e7b;
   }

   .container-information-list {
     max-width: calc(100% - 2em);
   }

   .container-information {
     min-width: 100%;
   }

   /* Button */
   .container-btn {
     max-width: 25%;
   }

   .btn-content {
     width: max-content;
   }

   li.item-search>.text-uppercase {
     color: #8b7e7b;
   }

   li.item-search>.text-uppercase:hover {
     color: #ffffff;
     text-shadow: 1px 2.3px 1px #8b7e7b;
   }

   .item-search {
     display: flex;
     justify-content: space-around;
   }

   .container-img-bg {
     height: calc(100vh + 2em);
   }

   .img-bg {
     min-height: 100%;

   }

   .log-out {
     margin-left: -15px;
   }

   #logout a {
     color: #f8f9fa;
     background-color: #000000;
     width: 50px;
     text-align: center;
     display: flex;
     justify-content: flex-start;
   }

 }

 /*---------------------------*/
 .p-login {
   color: #fff;
 }

 .p-login:hover {
   font-size: smaller;
   color: #ff0f4f;
 }

 /* Mobile First 
  TYPICAL DEVICE BREAKPOINTS.
  ---------------------------
  
  Pequenas telas: até 600px
  Celular: de 600px até 768px
  desktop:992px até 1200px
  Grande telas: acima de 1200px
  
  BOOTSTRAP:
  SM ≥576px,
  MD ≥768px,
  LG ≥768px,
  XL ≥1200px,
  XXL ≥1400px.
  
  conversão de px para 'em': 16px = 1em
  */