<!DOCTYPE html>
<html>

<!-- Metadados da pagina -->
<%- include("./partials/head" )%>

    <body>
        <!-- Banner -->
        <div class="banner"></div>

        <!-- <%# if(typeof errors!='undefined' ){ %>
            <ul>
                <%# for (let i=0; i < errors.length;i++){ %>
                    <li style="color: red">
                        <%#= errors[i].msg %>
                    </li>
                    <%# } %>
            </ul>
            <%# } %> -->
                <h1>Criação de uma nova Caixa</h1>

                <form action="/create/box" method="POST">
                    <div>
                        <label for="date">Data de Modificação:</label>
                        <input type="date" id="data" name="dateModify" value="<%= currentDate %>" required autofocus>
                    </div>

                    <div>
                        <label for="name">Nome Descritivo:</label>
                        <input id="name" name="nameDescription" value="crispin-fusão-adicionada<%#= box.nameDescription %>" required autofocus></input>
                    </div>

                    <div>
                        <label for="locale">Localização:</label>
                        <input type="text" id="locale" name="locale" value="Prox. praça da goiaba<%#= box.locale %>" required>
                    </div>

                    <div>
                        <label for="descricao">Active CTO:</label>
                        <input type="number" id="descricao" name="activeCto" required>
                    </div>

                    <div>
                        <label for="networkTechnology">Tecnologia de Rede:</label>
                        <input type="text" id="networkTechnology" name="networkTechnology" value="Epon<%#= box.networkTechnology %>" required autofocus>
                    </div>

                    <div>
                        <button type="submit">Criar</button>
                    </div>
                </form>

                <!-- Footer da pagina -->
                <%- include("./partials/footer") %>
                    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </body>

</html>