<!DOCTYPE html>
<html>

<!-- Metadados da pagina -->
<%- include("./partials/head" )%>

    <body>
        <!-- Banner -->
        <div class="banner"></div>

        <% if(typeof errors!='undefined' ){ %>
            <ul>
                <% for (let i=0; i < errors.length;i++){ %>
                    <li style="color: red">
                        <%= errors[i].msg %>
                    </li>
                    <% } %>
            </ul>
            <% } %>
                <h1>Criação de uma nova CaixaS</h1>

                <form action="http://localhost:3000/create/box" method="POST">
                    <div>
                        <label for="date">Data de Modificação:</label>
                        <input type="date" id="data" name="data" required>
                    </div>

                    <div>
                        <label for="name">Nome Descritivo:</label>
                        <input id="name" name="name" required></input>
                    </div>

                    <div>
                        <label for="locale">Localização:</label>
                        <input type="text" id="locale" name="locale" required>
                    </div>

                    <div>
                        <label for="descricao">Active CTO:</label>
                        <input type="number" id="descricao" name="descricao" required>
                    </div>

                    <div>
                        <label for="text">Tecnologia de Rede:</label>
                        <input type="text" id="quantidade" name="quantidade" required>
                    </div>

                    <div>
                        <button type="submit">Criar Caixa</button>
                    </div>
                </form>

                <!-- Footer da pagina -->
                <%- include("./partials/footer") %>
                    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </body>

</html>