<!DOCTYPE html>
<html>
<!-- Metadados da pagina -->
<%- include("./partials/head" )%>

    <body>
        <!-- Banner -->
        <div class="banner"></div>
        <div>
            <h1>Visualização de Exclusão</h1>
            <p>Tem certeza de que deseja excluir o objeto?</p>
            <form action="box/:<%= id %>?_method=DELETE" method="POST" name="id">
                <div>
                    <label for="number">ID:</label>
                    <input type="number" name="id" required id="number"><!--  Endpoint(http://localhost:3000/box/:id; -->
                </div>
                <div>
                    <button type="submit">Excluir</button>
                </div>
            </form>
        </div>
        <!-- Footer da pagina -->
        <%- include("./partials/footer") %>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </body>

</html>