<!DOCTYPE html>
<html>
<!-- Metadados da pagina -->
<%- include("./partials/head" )%>

    <body>
        <%- include("./partials/header") %>

        <div class="banner"></div>
        <div class="text-center">
            <h1>AlphanetSLM</h1>
            <blockquote class="blockquote">
                <h3>Visualização de Exclusão</h3>
            </blockquote>
        </div>
        <div>
            <p>Tem certeza de que deseja excluir o objeto?</p>
            <form action="box/:<%= id %>?_method=DELETE" method="POST" name="id">
                <div>
                    <label for="number">ID:</label>
                    <input type="number" name="id" id="number" required>
                </div>
                <div>
                    <button type="submit">Excluir</button>
                </div>
            </form>
        </div>

        <!-- Footer da pagina -->
        <%- include("./partials/footer") %>
    </body>

</html>