<!DOCTYPE html>
<html lang="en">
<!-- Metadados da pagina -->
<%- include("./partials/head" )%>

	<!-- Banner -->
	<div class="banner"></div>

	<body>
		<h1>Algo deu errado!</h1>
		<!-- Footer da pagina -->
		<%- include("./partials/footer") %>
			
	</body>

</html>