<!-- Metadados da página -->
<%- include("./partials/head") %>

    <body class=" min-w-100 min-vh-100">
        <!-- <div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
            Example element with utilities
          </div> -->
        <%- include("./partials/header") %>

            <main class="container-fluid">
                <section class="container-fluid container-sm">

                    <p class="text-light h1 text-center mb-5">Buscar</p>
                    <div class="content-form">

                        <form method="POST" action="box/name" id="name_description">
                            <div class="input-group mb-2">

                                <label for="name-description" class="input-group-text inputGroup-sizing-default"
                                    autofocus>Pesquisar</label>

                                <!-- Atributo no input (name="name-description") precisa ser igual a rota. 
                                        Assim como o valor do pego no controlador e tbm na rquicição axios. -->
                                <input type="text" name="name_description" id="name-description"
                                    class="form-control form-control-sm p-2 text-primary-emphasis bg-dark-subtle border border-primary"
                                    placeholder="Nome" aria-label="Sizing text input"
                                    aria-describedby="inputGroup-sizing-sm">
                                <button type="submit" class="btn btn-outline-light">Buscar</button>
                            </div>
                        </form>

                        <form method="POST" action="/box/id" id="id">
                            <div class="input-group mb-2">

                                <label for="id" class="input-group-text inputGroup-sizing-default"
                                    autofocus>Pesquisar</label>
                                <!-- Atributo no input (name="name-description") precisa ser igual a rota. 
                        Assim como o valor do pego no controlador e tbm na rquicição axios. -->
                                <input type="number" name="id" id="id"
                                    class="form-control form-control-sm p-2 text-primary-emphasis bg-dark-subtle border border-primary"
                                    placeholder="Número" aria-label="Sizing number input"
                                    aria-describedby="inputGroup-sizing-sm">
                                <button type="submit" class="btn btn-outline-light">Buscar</button>
                            </div>
                        </form>

                        <form method="POST" action="/locale" id="id">
                            <div class="input-group mb-2">

                                <label for="locale" class="input-group-text inputGroup-sizing-default"
                                    autofocus>Pesquisar</label>
                                <input type="text" name="locale" id="locale"
                                    class="form-control form-control-sm p-2 text-primary-emphasis bg-dark-subtle border border-primary"
                                    placeholder="Local" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm">
                                <button type="submit" class="btn btn-outline-light">Buscar</button>
                            </div>
                        </form>
                        
                    </div>
                </section>

            </main>

            <!-- Footer da pagina -->
            <%- include("./partials/footer") %>
    </body>

    </html>