<!DOCTYPE html>
<html lang="en">
<!-- Metadados da página -->
<%- include("./partials/head") %>

    <body>
        <h1>Home</h1>
        <form action="">
            <label for="" id="home" name="home">Faça uma busca</label>
            <input type="text" id="home" name="home">
            <button type="submit">buscar</button>
        </form>
        <!-- Footer da pagina -->
        <%- include("./partials/footer") %>
    </body>

</html>