<!-- Metadados da página -->
<%- include("./partials/head") %>

    <body class="vh-100">
        <%- include("./partials/header") %>
            <main class="container">

                <section class="col">
                    <p class="text-light">Buscar</p>
                    
                        <form method="POST" action="box/name" id="name_description">
                            <div class="input-group">
                                <label for="name-description" class="input-group-text inputGroup-sizing-default"
                                    autofocus>Pesuisar</label>

                                <!-- Atributo no input (name="name-description") precisa ser igual a rota. 
                                        Assim como o valor do pego no controlador e tbm na rquicição axios. -->
                                <input type="text" name="name_description" id="name-description"
                                    class="form-control form-control-sm p-2 text-primary-emphasis bg-dark-subtle border border-primary"
                                    placeholder="Nome" aria-label="Sizing text input"
                                    aria-describedby="inputGroup-sizing-sm">
                                <button type="submit" class="btn btn-outline-light">Buscar</button>
                            </div>
                        </form>
                    </div>
                    
                        <form method="POST" action="/box/id" id="id">
                            <div class="input-group ">
                                <label for="id" class="input-group-text inputGroup-sizing-default"
                                    autofocus>Pesuisar</label>
                                <!-- Atributo no input (name="name-description") precisa ser igual a rota. 
                        Assim como o valor do pego no controlador e tbm na rquicição axios. -->
                                <input type="number" name="id" id="id"
                                    class="form-control form-control-sm p-2 text-primary-emphasis bg-dark-subtle border border-primary"
                                    placeholder="Número" aria-label="Sizing number input"
                                    aria-describedby="inputGroup-sizing-sm">
                                <button type="submit" class="btn btn-outline-light">Buscar</button>
                            </div>
                        </form>
                    </div>
                    
                        <form method="POST" action="/locale" id="id">
                            <div class="input-group">
                                <label for="locale" class="input-group-text inputGroup-sizing-default"
                                    autofocus>Pesuisar</label>
                                <input type="text" name="locale" id="locale"
                                    class="form-control form-control-sm p-2 text-primary-emphasis bg-dark-subtle border border-primary"
                                    placeholder="Local" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm">
                                <button type="submit" class="btn btn-outline-light">Buscar</button>
                            </div>
                        </form>
                    </div>

                </section>

            </main>

            <!-- Footer da pagina -->
            <%- include("./partials/footer") %>
    </body>

</html>