<!DOCTYPE html>
<html lang="en">
<!-- Metadados da página -->
<%- include("./partials/head") %>

    <body>
        <h1>AlphanetSLM</h1>
        <div>
            <!-- action="/name/:name_description" para uso com query string-->
            <form method="POST" action="/name" id="name_description"><!-- 3000/name/name_description Rota do back-end-->
                
                <div>
                    <label for="name_description" autofocus>Faça uma busca</label>
                    <input type="text" name="name_description" id="name_description">
                </div>
                <div>
                    <button type="submit">buscar</button>
                </div>
            </form>
        </div>
        <!-- Footer da pagina -->
        <%- include("./partials/footer") %>
    </body>

</html>
<!-- <form method="GET" action="/name<%# name %>" id="name-description"> 

    <label for="nameDescription">Faça uma busca</label>
    <input type="text" id="home" name="nameDescription" placeholder="digite um nome" autofocus></form> -->