<!DOCTYPE html>
<html lang="en">
<!-- Metadados da pagina -->
<%- include("./partials/head") %>

    <body>
        <h1>Search Here</h1>
        <form id="searchForm" method="GET" action="/">
            <label for="searchText">Search:</label>
            <input type="text" id="searchText" name="searchText">
            <button type="submit">Search</button>
        </form>

        <!-- Footer da pagina -->
        <%- include("./partials/footer") %>
    </body>

</html>