<!DOCTYPE html>
<html lang="en">
<!-- Metadados da pagina -->
<%- include("./partials/head") %>

    <body>
        <!-- todas as boxes -->
        <div class="container-boxes">
            <form action="">
                <label for="">id</label>
                <input type="text">
                <label for="">date_modify</label>
                <input type="text">
                <label for="">name_description</label>
                <input type="text">
                <label for="">locale</label>
                <input type="text">
                <label for="">active_cto</label>
                <input type="text">
                <label for="">network_technology</label>
                <input type="text">
            </form>            
        </div>

        <!-- Footer da pagina -->
        <%- include("./partials/footer") %>
    </body>

</html>