<!DOCTYPE html>
<html lang="en">
<!-- Metadados da pagina -->
<%- include("./partials/head") %>

    <body>
        <h2 class="boxesTitle">Formulário de atualização de Box</h2>
        <div class="containerBoxes">
            <form action="">
                <div class="rowBoxDetail">
                    <div>
                        <label for="dateModify" class="formLabel">date_modify</label>
                        <input type="text" id="dateModify" name="dateModify" placeholder="date_modify:"
                            class="formInput">
                    </div>
                    <div>
                        <label for="nameDescription" class="formLabel">name_description</label>
                        <input type="text" id="nameDescription" name="nameDescription" placeholder="name_description:"
                            class="formInput">
                    </div>
                    <div>
                        <label for="locale" class="formLabel">locale</label>
                        <input type="text" id="locale" name="locale" placeholder="locale:" class="formInput">
                    </div>
                    <div>
                        <label for="activeCto" class="formLabel">active_cto</label>
                        <input type="text" id="activeCto" name="activeCto" placeholder="active_cto:" class="formInput">
                    </div>
                    <div>
                        <label for="networkTechnology" class="formLabel">network_technology</label>
                        <input type="text" id="networkTechnology" name="networkTechnology"
                            placeholder="network_technology:" class="formInput">
                    </div>
                </div>
                <button type="submit">Update</button>
            </form>
        </div>

        <!-- Footer da pagina -->
        <%- include("./partials/footer") %>
    </body>

</html>