<!DOCTYPE html>
<html>

<!-- Metadados da pagina -->
<%- include("./partials/head" )%>

    <body>
        <!-- Banner -->
        <div class="banner"></div>
        <div>
            <h1>Atualização de Caixa</h1>
            <p>Digite o numero do objeto para atualizar</p>

            <form action="box/:<%= id %>?_method=PUT" method="POST" name="id"><!--name="id"-->
                <div>
                    <label for="number">ID:</label>
                    <input type="number" name="id" id="number" required>
                </div>
                <div>
                    <button type="submit">atualizar</button>
                </div>
            </form>
        </div>

        <!-- Footer da pagina -->
        <%- include("./partials/footer") %>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </body>

</html>