<!-- 
    SM ≥576px
    MD ≥768px
    LG ≥768px
    XL ≥1200px
    XXL ≥1400px
    -->
<header class="navbar-light bg-light">

    <div class="container-fluid row container-logo">
        <img class="col-8 col-sm-6 col-md-6 col-lg-2 col-xl-2 col-xxl-2" id="img-alphanet"
            src="/imgs/MARCA-ALPHA-1-omlyoq1d2wn4pkueqy3rm9wv40kikeacgxno253ldi.png" alt="AlphanetSLM">
    </div>

    <nav class="navbar navbar-expand-lg">
        <ul class="container-fluid fw-bold">

            <div class="row text-center content-list">
                    <li class="nav-item col-3 col-sm-6 col-md-3 text-center">
                        <span class="ancor"><a class="nav-link text-primary home" 
                        href="http://localhost:3001/home">Home</a></span>
                    </li>

                    <li class="nav-item col-3 col-sm-6 col-md-3 text-center">
                        <span class="ancor"><a class="nav-link text-primary criar" 
                        href="http://localhost:3001/create">Criar</a></span>
                    </li>

                    <li class="nav-item col-3 col-sm-6 col-md-3 text-center
                    rebeld rebeld-A">
                        <span class="ancor"><a class="nav-link text-primary atua" 
                        href="http://localhost:3001/update">Atualizar</a></span>
                    </li>

                    <li class="nav-item col-3 col-sm-6 col-md-3 text-center
                    rebeld rebeld-B">
                        <span class="ancor"><a class="nav-link text-primary dele" 
                        href="http://localhost:3001/delete">Deletar</a></span>
                    </li>
                
        </ul>
    </nav>
</header>


</html>