<header class="nav navbar navbar-light bg-light" id="navbar-header">
    <div class="container-fluid container-logo ">
        <a href="http://localhost:3001/profile" 
        class="col-8 col-sm-6 col-md-6 col-lg-2 col-xl-2 col-xxl-2">
            <img class="" id="img-alphanet"
            src="/imgs/MARCA-ALPHA-1-omlyoq1d2wn4pkueqy3rm9wv40kikeacgxno253ldi.png" 
            alt="AlphanetSLM">
        </a>
    </div>
</header>