<!-- 
    SM ≥576px 540px
    MD ≥768px 720px
    LG ≥768px 960px
    XL ≥1200px 1140px
    XXL ≥1400px 1320 px
    -->
<header class=" nav navbar navbar-light bg-light" id="main-container">

    <div class="container-fluid container-logo ">
        <img class="col-8 col-sm-6 col-md-6 col-lg-2 col-xl-2 col-xxl-2" id="img-alphanet"
            src="/imgs/MARCA-ALPHA-1-omlyoq1d2wn4pkueqy3rm9wv40kikeacgxno253ldi.png" alt="AlphanetSLM">
    </div>

    <nav class="navbar navbar-expand-lg w-50" id="navbar-content">
        <ul class="container-fluid fw-bold ">

            <div class="row content-list">

                <li class="nav-item col-3 col-sm-3 col-md-3 ">
                    <span class=""><a class="nav-link text-primary home"
                            href="http://localhost:3001/home">Home</a></span>
                </li>

                <li class="nav-item col-3 col-sm-3 col-md-3">
                    <span class=""><a class="nav-link text-primary cria"
                            href="http://localhost:3001/create">Criar</a></span>
                </li>

                <li class="nav-item col-3 col-sm-3 col-md-3
                    ">
                    <span class=""><a class="nav-link text-primary atualiza"
                            href="http://localhost:3001/update">Atualizar</a></span>
                </li>

                <li class="nav-item col-3 col-sm-3 col-md-3
                    ">
                    <span class=""><a class="nav-link text-primary deleta"
                            href="http://localhost:3001/delete">Deletar</a></span>
                </li>

        </ul>
    </nav>
</header>


</html>