<div class="z-0 position-absolute align-content-center
container-img-bg">
    <img src="/imgs/tecnico-futuro2.png" 
    class="object-fit-cover vw-100 h-100 align-content-center
    img-bg">
</img>
</div>