<body>
  <% include("../partials/header") %>

    <main class="container-fluid">
      <% include("../partials/videoLogin") %>
        <!-- Exibir informações do usuário -->
        <h1>Perfil do Usuário</h1>
        <p>Nome: <%= name %>
        </p>
        <!-- <p>Email: <%#= user.email %></p> -->

    </main>

    <% include("../partials/footer") %>
</body>